<html>
	<head>
		<title> ShopZone | Listings </title>
	</head>
	
	{% include "store/style.html" %}

	{% include "store/top.html" %}

		<!-- Search results / category -->
		<div>
			<h2 align="center" style="color:#336699">
			{% if from_search %}
				Search results for : {{ product_category }}
			{% else %}
				Category : {{ product_category }}
			{% endif %} </h2>
		</div>

		<!-- Actual content -->
		<div style="font-size:1.5em;"> 
			{% if sub_categories %}
				<table align="center" style="font-size:1em;" border=0>
					<tr align="center">
						<th style="width:500px;">Product Sub-categories</th>
					</tr>
					{% for sub in sub_categories %}
						<tr align="center">
							<td> <a href="/shop/by_search/{{ sub }}"><div class="linkdiv">{{ sub }}</a></div></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No products are available.</p>
			{% endif %}
		</div>

	{% include "store/bottom.html" %}
