<html>
	<head>
		<title> ShopZone | Listings </title>
	</head>
	
	{% include "store/style.html" %}

	{% include "store/top.html" %}

		<!-- Search results / category -->
		<div>
			<h2 align="center" style="color:#336699">
			{% if from_search %}
				Search results for : {{ product_category }}
			{% else %}
				Category : {{ product_category }}
			{% endif %} </h2>
		</div>

		<!-- Actual content -->
		<div style="font-size:1.5em;"> 
			{% if all_products_list %}
				<table align="center" style="font-size:1em;" border=0>
					<tr align="center">
						<th style="width:500px;">Product</th>
						<th style="padding-left:20px; width:300px;">Seller</th>
						<th style="padding-left:20px; width:200px;">Price</th>
					</tr>
					{% for product in all_products_list %}
						<tr align="center">
							<td> <a href="/shop/{{ product.id }}/"><div class="linkdiv">{{ product.product_name }}</a></div></td>
							<td style="padding-left:20px"><a href="/shop/seller/{{ product.seller.pk }}/"><div class="linkdiv">{{ product.seller }}</a></div></td>
							<td style="padding-left:20px"> {{ product.price }} </td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No products are available.</p>
			{% endif %}
		</div>

	{% include "store/bottom.html" %}
