<html>

	<head>
		<title>ShopZone | Login</title>
	</head>
	
	{% include "store/style.html" %}

	<body link="#663399" vlink="#663399" alink="#808080" bgcolor="#eee">
		
		<div align="center" style="height:50px; width:100%;
			font-size:1em; color:#663399; 
			padding-bottom:30px; margin-bottom:20px;">
		
			<h1>ShopZone : The Online Retail Store</h1>
		</div>

		<div>
			<div align="center" style="width:50%; float:left;">
				<h2>Login</h2>
				<form action="/shop/login_okay/" method = "post">
					{% csrf_token %}
					<table style=" color:#663399;">
						<tr>
							<td>Username: </td>
							<td><input type = "text" name="username" /> </td>
						</tr>
						<tr>
							<td>Password: </td>
							<td><input type = "password" name="password" /> </td>
						</tr>
					</table>
					<input type="submit" value="Login"/>
				</form>
			</div>
			<div align="center" style="width:50%; float:right;">
				<h2>Sign up</h2>
				<form action="/shop/signup/" method = "post">
					{% csrf_token %}
					<table style=" color:#663399;">
						<tr>
							<td>Name: </td>
							<td><input type = "text" name="name" /> </td>
						</tr>
						<tr>
							<td>Password: </td>
							<td><input type = "password" name="password" /> </td>
						</tr>
						<tr>
							<td>Re-enter Password: </td>
							<td><input type = "password" name="repassword" /> </td>
						</tr>
						<tr>
							<td>Address: </td>
							<td><input type = "text" name="address" /> </td>
						</tr>
						<tr>
							<td>Phone Number: </td>
							<td><input type = "text" name="phone" /> </td>
						</tr>
						<tr>
							<td>Email: </td>
							<td><input type = "email" name="email" /> </td>
						</tr>
					</table>
					<input type="submit" value="Sign up"/>
				</form>
			</div>
		</div>
		{% if errors %}
			<div>
				You made the following errors:
				<ul>
					{% for e in errors %}
						<li>{{ e }}</li>
					{% endfor %}
				</ul>
			<div>
		{% endif %}

	{% include "store/bottom.html" %}
