<html>
	<head>
		<title> ShopZone | ShopZone Reviews </title>
	</head>
	
	{% include "store/style.html" %}

	{% include "store/top.html" %}

		<div>
			<h2 align="center" style="color:#336699">Reviews : ShopZone</h2>
		</div>

		<div>
			{% if store_reviews %}
				<table align="center" style="font-size:1.25em;">
					<tr>
						<th style="min-width:100px;"> Rating </th>
						<th style="min-width:800px;"> Review </th>
					</tr>
					{% for review in store_reviews %}
					<tr>
						<td align=center> {{ review.rating }} </td>
						<td align=center> {{ review.review }} </td>
					</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No reviews available for this store. Do you want to add one? </p>
			{% endif %}
		</div>

		<div style="border-left: 50px solid white;">
			<p align:center style="font-size:1.15em">Have an opinion about ShopZone? &nbsp;<a href="/admin/store/storereview/add/">Share it with us!</a></p>
		</div>

	{% include "store/bottom.html" %}
