<style>
	a:link{
		text-decoration:none
	}
	a:hover {
		background-color: #DDDDDD;
	}
	.title:hover{
		background-color: #FFFFFF;
	}
	.headdiv {
		height:1px;
		width:100%;
		font-size:1em;
		text-align:center;
		color:#663399;
		padding-bottom:30px;
		margin-bottom:20px;
	}
	.headdiv2 {
		height:10px;
		width:100%;
		font-size:1em;
		text-align:center;
		color:#663399;
		border-bottom:1px dotted black;
		padding-bottom:30px;
		margin-bottom:20px;
	}
	.linkdiv:hover {
		background-color: #DDDDDD;
	}
	.columns {
		height:465px;
		width:411px;
		text-align:center;
		font-size:1.25em;
		color:#663399;
		overflow:scroll;
		float:left;
		border-left:50px solid white;
	}
</style>
